<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Sayfa Başı</a>
        </p>
        <p class="mt-3">Eren Yılmaz Ait bir ASP .Net Core MVC Projesidir.</p>
        <p class="mt-3">Bu Projede Katmanlı Mimari Kullanılmış, Ve Veritabanı ORM olarak Entity Framework Core Kullanılmıştır.</p>
        <p class="mt-3">MVC Tarafında ise Routing, Model Binding, Vıewstart, Viewimport, PartialView, Razor Syntax Yapıları Pekiştirilmeye Çalışılmıştır. </p>
    </div>
</footer>