
    <header>
        <div class="collapse bg-dark" id="navbarHeader">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-7 py-4">
                        <h4 class="text-white">About</h4>
                        <p class="text-muted">Ben Eren Yılmaz, Asp Net Core MVC Projelerimden Birisiyle Karşı Karşıyasınız.</p>
                    </div>
                    <div class="col-sm-4 offset-md-1 py-4">
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-left">
                <a href="~/Customer" class="navbar-brand">
                    CUSTOMERS
                </a>
                <a href="~/Category" class="navbar-brand">
                    CATEGORIES
                </a>
                <a href="~/Product" class="navbar-brand">
                    PRODUCTS
                </a>
                <a href="~/Employee" class="navbar-brand">
                    EMPLOYEES
                </a>
                <a href="~/Company" class="navbar-brand">
                    COMPANIES
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </header>
